body,
html {
    margin:0;
    padding:0;
    color:#000;
    background: #cfcfcf;
}

a {
    color: #f5f5f5;
}

a:hover,
#nav-top li.active a,
#nav-side li.active a {
    color: #01588b;
    text-decoration: none;
}

#wrapper-main {
    max-width: 1200px;
    margin: 0 auto;
}

#footer {
    margin-top: 50px;
    text-align: center;
}

#nav-top-wrap {
    padding: 0;
    margin-bottom: 0;
    background: #002247;
}

#wrapper-sidemenu,
#wrapper-content {
    display: inline-block;
}

#wrapper-sidemenu {
    width: 20%;
    margin-right: -4px;
    vertical-align: top;
}

#wrapper-content {
    width: 80%;
    background: white;
    border-radius: 0 0 5px 5px;
}

#wrapper-content {
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #002247;
}

#nav-top,
#nav-side {
    color: white;
}

#nav-top {
    background: #002247;
    width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

#nav-top ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

#nav-top li {
    line-height: 60px;
    text-align: center;
    word-wrap: break-word;
    width: 25%;
}

#nav-top,
#nav-side {
    padding: 1px;
}

#nav-top li,
#nav-side li {
    list-style-type: none;
}

#nav-top li.active,
#nav-side li.active,
#nav-top li:hover,
#nav-side li:hover {
    background: white;
}

#nav-top li a,
#nav-side li a {
    display: block;
    font-weight: bold;
}

#nav-side {
    background: #01588b;
    border-radius: 0 0 0 5px;
}

#nav-side h4 {
    text-align: center;
}

#nav-side ul {
    padding: 0;
}

#nav-side li a {
    padding: 2px 10px;
}

.wrapper-content-inner section {
    padding: 5px;
}

.product-snippet {
    display: inline-block;
    width: 223px;
    height: 160px;
    margin: 0 5px;
    overflow: hidden;
    border: 2px solid #002247;
    border-radius: 5px;
    position: relative;
    text-align: center
}

.product-snippet:hover {
    border-color: #01588b;
}

.product-snippet h4,
.product-snippet .price {
    position: absolute;
    margin: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 223px;
    display: block;
    font-size: 1.5em;
}

.product-snippet h4 {
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.product-snippet a {
    display: block;
    color: #002247;
}

.product-snippet a:hover {
    color: #01588b;
}

.product-snippet img {
    min-height: 160px;
    min-width: 223px;
    width: 100%;
    height: auto;
}

.price {
    color: #002247;
}

.product-snippet .price {
    bottom: 0;
    padding-right: 10px;
    text-align: right;
}

.content-top .text-wrap {
    margin: 5px 5px 0 5px;
    padding: 5px;
    border-radius: 5px;
    background: #f4f4f4;
}

.content-header,
.content-description {
    font-weight: bold
}

.content-header {
    color: #002247;
}

.content-description {
    color: #01588b;
    overflow: hidden;
}

.content-description p {

}

.product-top {
    overflow: hidden;
    margin-bottom: 20px;
}

.product-top .price {
    display: block;
    /*font-size: 1.4em;*/
    font-weight: bold;
    color: #01588b;
    float: right;
}

.product-image {
    max-width: 500px;
    float: right;
    margin: 0 0 20px 20px;
}

.product-bottom {
    overflow: hidden;
    padding: 10px;
}

.product-bottom .buttons {
    float: right;
}

.link-return {
    display: inline-block;
    padding: 8px;
    border: 2px solid #01588b;
    border-radius: 5px;
    font-weight: bold;
    color: #002247;
}

.link-order {
    display: inline-block;
    background: #01588b;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.link-order:hover {
    color: white;
    background: #002247;
}

.link-order:active {
    background: #001730;
}
