{% extends 'JKPAdminBundle::layout.html.twig' %}
{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('jkp_admin_login') }}">JKP Admin Panel</a>
        </div>
    </nav>
{% endblock nav %}
{% block content %}
    <div id="login-wrap" class="well">
        <div id="form-login" class="panel panel-primary">
            <div class="panel-heading bold">
                <span class="glyphicon glyphicon-user"></span> Login
            </div>
            <div class="panel-body">
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('jkp_admin_login_check') }}" method="post">
                    <label for="username">Login:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Hasło:</label>
                    <input class="form-control" type="password" id="password" name="_password" />

                    <input type="hidden" name="_target_path" value="/admin" />

                    <button class="btn btn-primary pull-right" type="submit">Login <span class="glyphicon glyphicon-chevron-right"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}