<nav id="nav-top">
    <ul>
        <li><a href="{{ path('jkp_core_homepage') }}">JAKURAPAZUREM</a></li>
        <li><a href="{{ path('jkp_core_static_me') }}">o mnie</a></li>
        <li><a href="{{ path('jkp_core_static_individual') }}">zamówienia indywidualne</a></li>
        <li><a href="{{ path('jkp_core_static_contact') }}">kontakt</a></li>
    </ul>
</nav>