<aside id="nav-side">
    <h4><span class="glyphicon glyphicon-th-list"></span> {{ 'categories' | trans }}</h4>
    <ul>
    {% for category in category_menu.categories %}
        <li class={{ app.request.get('slug') == category.slug ? 'active' : '' }}><a href="{{ path('jkp_core_category_show', {slug: category.slug}) }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
</aside>